html {
    background: #001725;
    height: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vmin;
    background: linear-gradient(#000, #001725);
    overflow: overlay;
}

.logo {
    font-family: 'jsMath-cmmi10', sans-serif;
    color: #fff;
    left: 30px;
    top: 3%;
    position: absolute;
    font-size: 1.5rem;
    cursor: pointer;
}

.navBar {
    background-color: transparent;
    overflow: hidden;
    width: 60%;
    height: auto;
    float: right;
    position: absolute;
    top: 2%;
    right: 30px;
    padding-top: 10px;
    display: flex;
    justify-content: right;
    align-items: right;
}

.navBar ul {
    list-style-type: none;
}

.navBar ul li {
    text-decoration: none;
    color: #fff;
    font-family: 'JetBrains Mono', monospace;
    float: left;
    text-align: center;
    padding: 0 15px;
    border-bottom: none;
    cursor: pointer;
}

.navBar ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    position: relative;
    padding: 0.2em 0;
    overflow: hidden;
}

.navBar ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0px;
    width: 100%;
    height: 0.2em;
    background-color: #fff;
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
    transition: opacity 300ms, transform 300ms;
}

.navBar ul li a:hover::after,
.navBar ul li a:focus::after {
    transform: translate3d(0, 0, 0);
}

.navBar ul li:nth-child(6) {
    position: relative;
    padding: 3px;
    display: inline-block;
    border-radius: 20px;
    margin-top: -8px;
}

#si {
    display: inline-block;
    background: #fff;
    color: #000;
    padding: 0.5rem 1rem;
    border-radius: 17px;
    font-size: 16px;
    border: #fff solid 2px;
    transition: border 0.3s, background 0.3s, color 0.3s;
}

#si:hover {
    background: transparent;
    color: #fff;
}


/* Scroll Bar*/
/* width */
::-webkit-scrollbar {
    width: 20px;
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    background-clip: padding-box;
    border: 7px solid rgba(0, 0, 0, 0);
    transition: background 1s;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    background-clip: padding-box;
    border: 7px solid rgba(0, 0, 0, 0);
}

/* basic setting above */

.adv-tab{
    position: absolute;
    width: 25%;
    height: 60%;
    top: 10%;
    overflow-y: scroll;
    margin-top: 100px;
}

.adv {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 10px;
    padding: 10px;
}

.adv-com-img {
    width: 60px;
    height: 60px;
    background: linear-gradient(to bottom right, rgb(196, 68, 68), rgb(112, 99, 221));
    border-radius: 50%;
    margin-left: 30px;
    cursor: pointer;
}

.adv-com-img img {
    width: 35px;
    height: 35px;
    position: relative;
    margin-left: 13px;
    margin-top: 10px;
}

.adv-com-name {
    margin-left: -100px;
    margin-top: 7px;    
    color: #fff;
    cursor: pointer;
}

.adv-job-name {
    color: #fff;
    cursor: pointer;
}

.adv-title {
    text-transform: uppercase;
    color: #fff;
    font-family: 'JetBrains Mono', monospace;
    position: absolute;
    left: 6%;
    top: 18%;
    font-size: 25px;
    border-bottom: #fff 2px solid;
}

/* ---------------------------------- */

.page-title {
    text-transform: uppercase;
    color: #fff;
    font-family: 'JetBrains Mono', monospace;
    position: absolute;    
    left: 30%;
    top: 17%;
    font-size: 40px;
}

.conditions {
    position: absolute;
    left: 30%;
    top: 28%;
    color: #fff;
    background: linear-gradient(to bottom right, rgb(128, 3, 3), rgb(138, 24, 148));
    padding: 10px 10px 10px 20px;
    border-radius: 5px;
}

.conditions label {
    padding: 10px;
}


.type {
    display: inline;
    width: 300px;
    height: 40px;
    vertical-align: middle;
    line-height: 40px;
    margin-left: 50px;
    padding: 10px 20px;
    position: relative;
    cursor: pointer;
    transition: border 200ms, margin-right 200ms, background 300ms;
    border-radius: 3px;
}

.type:nth-child(3) {
    margin-left: 20px;
    margin-right: 10px;
}

.conditions input {
    margin-left: 11px;
    width: 68%;
    height: 40px;
    margin-top: 20px;
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2px;
    border: none;
    box-shadow: 0 0 10px 2px #777;
}

.conditions input:focus {
    outline: none;
}

#location {
    margin-left: -7px;  
    width: 55%;
    margin-bottom: 10px;
}

#gps {
    position: absolute;
    top: 70%;
    right: 5%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#gps img {
    width: 30px;
    height: 30px;    
    position: absolute;
    left: 8px;
    top: 3px;
}

#gps::after {
    content: 'Get Your Location';
    width: 200px;
    height: 40px;
    background: #fff;
    position: absolute;
    top: 30px;
    left: 40px;
    border-radius: 0 10px 10px;
    opacity: 0;    
    transition: opacity 100ms;
    text-align: center;
    color: #000;
    font-family: 'JetBrains Mono', monospace;
    line-height: 40px; 
    transition: opacity 300ms;
}

#gps:hover::after {
    opacity: 1;  
}

.career-rel-event {
    position: absolute;
    left: 58%;
    top: 28%;
    width: 37%;
    height: 195px;
    color: #fff;
    background: #c9c9c9;
    color: #000;
    border-radius: 5px;  
    text-align: center;
    text-transform: uppercase; 
    font-family: 'JetBrains Mono', monospace;
    line-height: 195px;
    cursor: pointer;
    font-size: 28px;
}

.job-section {
    width: 65%;
    height: 700px;
    position: absolute;
    left: 30%;
    top: 57%;
    margin-top: 40px;
}

.job{
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom right, rgb(199, 216, 122), rgb(68, 143, 145));
    border-radius: 5px;
    font-family: 'JetBrains Mono', monospace;
    text-transform: uppercase;   
    margin-bottom: 30px;
}

.job-com-logo {
    width: 140px;
    height: 140px;
    border-radius: 5px;
    background: #fff;
    margin: 30px;
    margin-top: 15px;
    position: absolute;
    text-align: center;
    line-height: 140px;
    cursor: default;
}

.job-com-name {
    width: 140px;
    margin: 30px;
    margin-top: 165px;
    position: absolute;
    text-align: center;
    cursor: pointer;
}

.job-com-name::after {
    content: '';
    width: 0px;
    height: 0.2em;
    background: #000;
    position: absolute;
    top: 22px;
    left: 15%;
    transition: width 100ms;
}

.job-com-name:hover::after {
    width: 70%;
}

.job-req-name {
    position: absolute;
    left: 23%;
    margin-top: 15px;
    background: rgb(51, 124, 126);
    color: #fff;
    padding: 4px 20px;
    border-radius: 8px 8px 0 0;
}

.job-req-name::after {
    content: 'SAMPLE JOB NAME';
    line-height: 40px;
    padding-left: 20px;
    width: 300px;
    height: 40px;
    background: rgb(93, 181, 184);
    position: absolute;
    top: 32px;
    left: 0;
    border-radius: 0 8px 8px;
}

.job-req-des {
    position: absolute;
    left: 23%;
    margin-top: 95px;
    background: rgb(51, 124, 126);
    color: #fff;
    padding: 4px 20px;
    border-radius: 8px 8px 0 0;
}

.job-req-des::after {
    content: 'SAMPLE JOB DESCRIPTION';
    line-height: 40px;
    padding-left: 20px;
    width: 600px;
    height: 60px;
    background: rgb(93, 181, 184);
    position: absolute;
    top: 32px;
    left: 0;
    border-radius: 0 8px 8px;
}

.job-posting-date {
    position: absolute;
    left: 55%;
    margin-top: 15px;
    background: rgb(51, 124, 126);
    color: #fff;
    padding: 4px 20px;
    border-radius: 8px 8px 0 0;
}

.job-posting-date::after {
    content: '01 JAN 2022';
    line-height: 40px;
    padding-left: 20px;
    width: 280px;
    height: 40px;
    background: rgb(93, 181, 184);
    position: absolute;
    top: 32px;
    left: 0;
    border-radius: 0 8px 8px;
}

.job-btn {
    position: absolute;
    right: 30px;
    width: 100px;
    text-align: center;
    padding: 5px 10px;
    cursor: pointer;
    transition: background 200ms, color 100ms, border 200ms;
}

.btns .job-btn:nth-child(1) {
    margin-top: 110px;
    font-size: 14px;
    border: rgb(9, 10, 70) 2px solid;
    border-radius: 5px;
}

.btns .job-btn:nth-child(1):hover {
    border: none;
}

.btns .job-btn:nth-child(2) {
    margin-top: 150px;
    font-size: 14px;
    border-radius: 5px;
    background: rgb(9, 10, 70);
    color: #fff;
}

.btns .job-btn:nth-child(2):hover {
    background: transparent;
    color: rgb(9, 10, 70);
}

.btns .job-btn:nth-child(2)::after {
    content: '';
    width: 0px;
    height: 3px;
    background: rgb(9, 10, 70);
    position: absolute;
    top: 32px;
    left: 0;
    border-radius: 0 8px 8px;    
    transition: width 200ms;
}

.btns .job-btn:nth-child(2):hover::after {
    width: 100%;
}