html {
  background: #01111b;
  height: 1100px;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vmin;
  background: linear-gradient(#000a0f, #01111b);
  overflow: overlay;
}

.logo {
  font-family: 'jsMath-cmmi10', sans-serif;
  color: #fff;
  left: 30px;
  top: 3%;
  position: absolute;
  font-size: 1.5rem;
  cursor: pointer;
}

.navBar {
  background-color: transparent;
  overflow: hidden;
  width: 60%;
  height: auto;
  float: right;
  position: absolute;
  top: 2%;
  right: 30px;
  padding-top: 10px;
  display: flex;
  justify-content: right;
  align-items: right;
}

.navBar ul {
  list-style-type: none;
}

.navBar ul li {
  text-decoration: none;
  color: #fff;
  font-family: 'JetBrains Mono', monospace;
  float: left;
  text-align: center;
  padding: 0 15px;
  border-bottom: none;
  cursor: pointer;
}

.navBar ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
  padding: 0.2em 0;
  overflow: hidden;
}

.navBar ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0px;
  width: 100%;
  height: 0.2em;
  background-color: #fff;
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
  transition: opacity 300ms, transform 300ms;
}

.navBar ul li a:hover::after,
.navBar ul li a:focus::after {
  transform: translate3d(0, 0, 0);
}

.navBar ul li:nth-child(7) {
  position: relative;
  padding: 3px;
  display: inline-block;
  border-radius: 20px;
  margin-top: -8px;
}

#si {
  display: inline-block;
  background: #fff;
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 17px;
  font-size: 16px;
  border: #fff solid 2px;
  transition: border 0.3s, background 0.3s, color 0.3s;
}

#si:hover {
  background: transparent;
  color: #fff;
}


/* Scroll Bar*/
/* width */
::-webkit-scrollbar {
  width: 20px;
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  background-clip: padding-box;
  border: 7px solid rgba(0, 0, 0, 0);
  transition: background 1s;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 1);
  border-radius: 10px;
  background-clip: padding-box;
  border: 7px solid rgba(0, 0, 0, 0);
}


/* basic setting above */

.title {
  font-family: 'JetBrains Mono', sans-serif;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  top: 60px;
  font-size: 18px;
  cursor: default;
}

.title::after {
  content: '';
  width: 95px;
  height: 0.1em;
  background: #fff;
  position: absolute;
  top: 24px;
  left: -10px;
}

.sub-title {
  font-family: 'JetBrains Mono', sans-serif;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  top: 80px;
  font-size: 42px;
  cursor: default;
}

.sidebar {
  color: #fff;
  width: 20%;
  position: absolute;
  font-family: 'JetBrains Mono', monospace;
  top: 100px;
  cursor: pointer;
}

.sidebar img {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}

.sidebar a {
  width: 70%;
  margin-left: 10px;
  text-decoration: none;
  color: #fff;
}

.sidebar a:hover {
  color: #fff;
}

.selection {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 20px;
  margin-top: 10px;
  color: #FFFFFF;
  text-decoration: none;
}

.sidebar .selection:nth-child(1) {
  margin-top: 0px;
}

.sidebar hr {
  width: 80%;
  margin: auto;
}

.selection-active {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  margin-top: 10px;
  border-radius: 0 10px 10px 0;
  background: #393939;
}

.selection:nth-child(1) {
  margin-top: 80px;
}

.selection::after {
  content: '';
  position: absolute;
  margin-top: -30px;
  left: 80%;
  width: 5px;
  height: 30px;
  opacity: 0;
  border-radius: 0 10px 10px 0;
  background-color: #fff;
  transition: opacity 300ms, transform 300ms;
  transform: translateX(100%);
}

.selection::before {
  content: '';
  position: absolute;
  margin-top: 0px;
  width: 5px;
  height: 30px;
  opacity: 0;
  border-radius: 10px 0 0 10px;
  background-color: #fff;
  transition: opacity 300ms, transform 300ms;
  transform: translateX(-100%);
}

.selection:hover::after,
.selection:focus::after {
  opacity: 1;
  transform: translateX(0);
}

.selection:hover::before,
.selection:focus::before {
  opacity: 1;
  transform: translateX(0);
}

/* ----------------------------------------------- */
.calendar {
  position: absolute;
  width: 56%;
  left: 22%;
  top: 20%;
}

.month {
  padding: 70px 25px;
  width: 100%;
  background: #272536;
  text-align: center;
  font-family: 'JetBrains Mono', monospace;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
}

.month .prev {
  float: left;
  padding-top: 10px;
  cursor: pointer;
}

.month ul li::marker {
  content: none;
}

.month .next {
  float: right;
  padding-top: 10px;
  cursor: pointer;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #000;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: #000;
  cursor: pointer;
}

.days li .active {
  padding: 10px;
  background: #144974;
  color: white !important;
  cursor: pointer;
  border-radius: 50%;
}

.calendar-event {
  width: 18%;
  height: 433px;
  position: absolute;
  right: 3%;
  top: 20%;
  overflow-y: scroll;
  overflow-x: hidden;
  animation: calendar-event 2s 1;
}

@keyframes calendar-event {
  0% {
    right: -20%;
  }

  100% {
    right: 3%;
  }
}

.live-event {
  width: 100%;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  font-family: 'JetBrains Mono', monospace;
  transition: background 200ms, text-align 200ms;
}


.live-event:hover {
  background: rgb(116, 116, 116);
}

.live-event a {
  margin-left: 30%;
  transition: margin-left 200ms;
}

.live-event:hover a {
  margin-left: 0%;
}

.live-more {
  display: none;
  position: absolute;
  margin-top: -14.5%;
  transition: display 200ms, right 2000ms;
  text-transform: uppercase;
}

.live-event:hover .live-more {
  display: unset;
  right: 10px;
}

.create-live {
  width: 30%;
  height: 440px;
  position: absolute;
  top: 82%;
  left: 22%;
  background: #272536;
  color: #000;
  font-family: 'JetBrains Mono', monospace;
  margin-bottom: 20px;
  animation: creatTab 2s 1;
  transition: left 100ms;
}

@keyframes creatTab {
  from  {left: -50%;}
  to    {left: 22%; }
}

.create-tag {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  font-size: 20px;
  color: #fff;
}

.create-tab {
  width: 100%;
  height: 84%;
  background: #ddd;
  color: #000;
}

.info-title {
  padding: 10px;
}

.info-title div {
  text-align: left;
  padding-left: 5px;
  width: 45%;
  margin-left: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  cursor: default;
  border: #000 2px solid;
}

.info-title input {
  display: block;
  margin: auto;
  width: 70%;
  background: transparent;
  border: none;
  text-align: center;
  border: #000 2px solid;
  margin-top: -2px;
  cursor: pointer;
  padding: 5px;
  transition: background 200ms;
  font-style: italic;
  color: #000;
}

.info-title input:focus {
  outline: none;
}

.info-title input:hover {
  background: #8c87b1;
}

#ad {
  margin-top: -1px;
}

#bd {
  margin-top: -1.5px;
}

.btnCreate {
  float: right;
  padding: 10px 20px;
  margin-right: 54px;
  cursor: pointer;
}

.btnCreate::after {
  content: '';
  width: 0px;
  height: 2px;
  right: 72px;
  margin-top: 25px;
  background: #000;
  position: absolute;
  transition: width 200ms;
}

.btnCreate:hover::after {
  width: 22%;
} 