/*bp*/
.background {
    padding: 0 0 25px;
    background-color: rgb(95, 95, 95);

}


.container {
    margin: 0 auto;
    padding: 50px 0 0;
    max-width: 61%;
    width: 100%;
}

.panel {
    border-radius: 10px;
    padding: 15px 25px;
    position: relative;
    width: 100%;
    z-index: 10;
}

.pricing-table {
    display: flex;
    flex-direction: column;
}

/*bp*/
.pricing-table {
    flex-direction: row;
}


.pricing-table * {
    text-align: center;
}

.pricing-plan {
    padding: 25px;
}

.pricing-plan:last-child {
    border-bottom: none;
}

/*bp*/
.pricing-plan {
    border-bottom: none;
    border-right: 1px solid #fefeff;
    flex-basis: 100%;
    padding: 25px 50px;
}

.pricing-plan:last-child {
    border-right: none;
}


.pricing-img {
    margin-bottom: 25px;
    max-width: 100%;
}

.pricing-header {
    color: #fefeff;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 5%;
    font-size: 28px;
}

.pricing-features {
    color: #fefeff;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 50px 0 25px;
}

.space {
    margin-top: 23px;
}

.pricing-features-item {
    border-bottom: 1px solid #fefeff;
    font-size: 16px;
    line-height: 1.5;
    padding: 15px 0;
}

.pricing-features-item:last-child {
    border-bottom: 1px solid #fefeff;
}

.pricing-price {
    color: #fefeff;
    display: block;
    font-size: 32px;
    font-weight: 700;
}

.pricing-button {
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    color: #348EFE;
    display: inline-block;
    margin: 25px 0;
    padding: 15px 35px;
    text-decoration: none;
    transition: all 150ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
    background-color: #fefeff;
}

.pricing-button.is-featured {
    background-color: #289bff;
    color: #fff;
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:active {
    background-color: #087ee6;
}

.large-margin {
    margin-top: 27px;
}

.container-2 {
    height: 50px;
    position: relative;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.backdrop {
    background-color: #657685a9;
    border-radius: 5%;
}

h3 {
    color: #fff;
    font-size: 1.1rem;
    font-weight: normal;
}