html {
    background-color: #0C2F45;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(#000, #000, #0C2F45);
    overflow: overlay;
}

.logo {
    font-family: 'jsMath-cmmi10', sans-serif;
    color: #fff;
    left: 30px;
    top: 3%;
    position: absolute;
    font-size: 1.5rem;
    cursor: pointer;
}

.navBar {
    background-color: transparent;
    overflow: hidden;
    width: 60%;
    height: auto;
    float: right;
    position: absolute;
    top: 2%;
    right: 30px;
    padding-top: 10px;
    display: flex;
    justify-content: right;
    align-items: right;
}

.navBar ul {
    list-style-type: none;
}

.navBar ul li {
    text-decoration: none;
    color: #fff;
    font-family: 'JetBrains Mono', monospace;
    float: left;
    text-align: center;
    padding: 0 15px;
    border-bottom: none;
    cursor: pointer;
}

.navBar ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    position: relative;
    padding: 0.2em 0;
    overflow: hidden;
}

.navBar ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0px;
    width: 100%;
    height: 0.2em;
    background-color: #fff;
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
    transition: opacity 300ms, transform 300ms;
}

.navBar ul li a:hover::after,
.navBar ul li a:focus::after {
    transform: translate3d(0, 0, 0);
}

.navBar ul li:nth-child(6) {
    position: relative;
    padding: 3px;
    display: inline-block;
    border-radius: 20px;
    margin-top: -8px;
}


#si {
    display: inline-block;
    background: #fff;
    color: #000;
    padding: 0.5rem 1rem;
    border-radius: 17px;
    font-size: 16px;
    border: #fff solid 2px;
    transition: border 0.3s, background 0.3s, color 0.3s;
}

#si:hover {
    background: transparent;
    color: #fff;
}

section img {
    height: 900px;
    width: 100%;
}

section a {
    text-decoration: none;
    font-style: italic;
    color: white;
    font-size: 10px;
    float: right;
    opacity: 0.5;
    margin-top: -20px;
}

/* Scroll Bar*/
/* width */
::-webkit-scrollbar {
    width: 20px;
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    background-clip: padding-box;
    border: 7px solid rgba(0, 0, 0, 0);
    transition: background 1s;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    background-clip: padding-box;
    border: 7px solid rgba(0, 0, 0, 0);
}

.vl {
    position: absolute;
    border-left: 6px solid #fff;
    height: 200px;
    top: 30.5%;
    right: 150px;
}

.welcome {
    position: absolute;
    top: 32%;
    right: 170px;
    font-size: 35px;
    color: #fff;
    font-family: 'JetBrains Mono', monospace;
    cursor: default;
}

#w2 {
    top: 37%;
}

#w3 {
    top: 42%;
    right: 390px;
    font-size: 72px;
    z-index: 4;
}

#w4 {
    top: 42%;
    right: 170px;
    font-size: 72px;
}

.btnExplore {
    color: #fff;
    position: absolute;
    display: inline-block;
    right: 178px;
    top: 55%;
    font-family: 'JetBrains Mono', monospace;
    border: #fff 2px solid;
    padding: 10px 20px;
    cursor: pointer;
    transition: color 0.3s;
    text-decoration: none;
}

.btnExplore span {
    position: relative;
    z-index: 3;
}

.btnExplore::before {
    content: '';
    position: absolute;
    top: 4px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 8px);
    background: #020a17;
    transition:  0.5s ease-in-out;
    transform: scaleY(1);
}

.btnExplore::after {
    content: '';
    position: absolute;
    top: -4px;
    left: 4px;
    width: calc(100% - 8px);
    height: calc(100% + 8px);
    background: #020a17;
    transition:  0.5s ease-in-out;
    transform: scaleX(1);
}

.btnExplore:hover::before {
    transform: scaleY(0);   
}

.btnExplore:hover::after {
    transform: scaleX(0);   
}

.highlight {
    height: 900px;
    width: 100%;
    background-color: #222;
    margin-top: -4px;
}

.highlight img {
    display: block;
    position: absolute;
    margin-top: 80px;
    left: 30%;
    transform: translate(-50%,50%);
}

.highlight img:nth-child(2) {
    left: 30%;
}

.highlight img:nth-child(3) {
    left: 50%;
}

.highlight img:nth-child(4) {
    left: 70%;
}

.light {
    position: absolute;
    color: #fff;
    font-family: 'JetBrains Mono', monospace;
    text-transform: uppercase;
    top: 122.5%;
    left: 56.1%;
    transform: translate(-50%,0);
    font-size: 72px;   
}

.hi-title {
    position: absolute;
    top: 155%;
    color: #fff;
    font-family: 'JetBrains Mono', monospace;
    font-size: 30px;
    cursor: pointer;
}

.hi-title > p::before {
    transition: border 0.3s ease-in-out;
}

.hi-title > p:nth-child(1) {
    position: absolute;
    left: 398px;
    text-align: center;   
}

.hi-title > p:nth-child(2) {
    position: absolute;
    left: 705px;
    text-align: center;   
}

.hi-title > p:nth-child(3) {
    position: absolute;
    left: 990px;
    text-align: center;   
}

.hi-title > p:hover::before {
    content: '';
    width: calc(100% + 100px);
    height: 280px;
    background: transparent;
    border: #fff 3px solid;
    border-radius: 10px;
    position: absolute;
    left: -55px;
    top: -150px;
}

.hi-title > p:nth-child(3):hover::before {
    left: -60px;
}


footer {
    height: 500px;
    width: 100%;
    background: linear-gradient(#000, #000, #0C2F45);
}