#login-body {
    width: 100%;
    background: url('/HighQuali/resource/login_background.jpg');
    background-size: 100% 100%;
}

.base {
    width: 30%;
    height: 600px;
    background: url('/HighQuali/resource/login_background.jpg');
    background-size: 1000px 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-45%);
    border-radius: 30px;
    box-shadow: 0 0 20px 5px #fff;
    cursor: pointer;
    transition: box-shadow 0.3s;
    animation: bs-float 3s infinite;
}

@keyframes bs-float {
    0% {box-shadow: 0 0 30px 5px #fff;}
    50% {box-shadow: 0 0 10px 5px #fff;} 
    100% {box-shadow: 0 0 30px 5px #fff;}
}

.base:hover {
    box-shadow: 0 0 10px 5px #fff;
}

.log-title {
    color: #fff;
    font-family: 'JetBrains Mono', monospace;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 15px;
    font-size: 40px;
}

.log-icon {
    width: 40px;
    height: 40px;
    margin-left: 40px;
    margin-top: 100px;
}

#pw {
    margin-top: 40px;
}

.log-txtbox {
    display: block;
    width: 70%;
    height: 50px;
    margin-top: -55px;
    margin-left: 100px;
    background: transparent;
    border: none;
    border-bottom: #fff 2px solid;
    outline: 0;
    color: #fff;
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    cursor: pointer;
}

.log-ckbox {
    cursor: pointer;
    margin-left: 100px;
    margin-top: 16px;
    box-shadow: none;
    transition: box-shadow 0.3s; 
}

.log-ckbox:checked {
    box-shadow: 0 0 10px 2px #fff;
    border: none;
    outline: none;
}

.log-rem {
    position: absolute;
    margin-top: 13px;
    font-size: 12px;
    color: #fff;
    font-family: 'JetBrains Mono', monospace;
}

#log-btn {
    position: relative;
    margin-top: 5px;
    background: transparent;
    border: #fff 2px solid;
    width: 100px;
    height: 30px;
    border-radius: 0px;
    right: -206px;
    color: #fff;
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    font-size: 10px;
    transition: background 0.3s, color 0.3s;
}

#log-btn:hover {
    background: #fff;
    color: #000;
}

.breakline {
    border: none;
    border-top: #fff 1px solid;
    background: transparent;
    width: 90%;
    margin: auto;
    margin-top: 80px;
}

#gg {
    width: 80%;
    position: relative;
    transform: translate(22%);
    margin-top: 20px;
}

.other {
    display: block;
    width: 65%;
    height: 50px;
    background: #fff;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    line-height: 50px;
    color:#2a2e3d;
    transition: background 0.3s;
}

.other:hover {
    background: rgb(184, 184, 184);
}