html {
    background-color: #0C2F45;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(#000,#0C2F45);
}

.logo {
    font-family: 'jsMath-cmmi10', sans-serif;
    color: #fff;
    left: 30px;
    top: 3%;
    position: absolute;
    font-size: 1.5rem;
}

.navBar {
    background-color: transparent;
    overflow: hidden;
    width: 50%;
    float: right;
    position: absolute;
    right: 30px;
    top: 2%;
}

.navBar a{
    text-decoration: none;
    color: #fff;   
    font-family: 'JetBrains Mono', monospace;
    float: left;
    text-align: center;
    padding: 10px;
}